html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
  font-family: 'Comfortaa', cursive;
  width: 100vw;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1450px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  html {
    font-size: 14.5px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 12.5px;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 100vw;
    overflow-x: hidden !important;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  height: 0px;
  width: 5px;
  border-radius: 20px;
}

div *::-webkit-scrollbar {
  height: 0px;
  width: 5px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




/* Global keyframes */
@keyframes cardActionsAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;    
  }
}